# Variables

In [1]:
# Assingnment statement
x=35.0
y=12.5
z=x*y
print(z)

437.5

In [2]:
# Assingnment with expression
x=2
x=x+2
print(x)

4

In [3]:
# An assignment statement evaluates an expression according to order of heirarchy
x=0.6
x=3.9*x*(1-x)
print(x)

0.9359999999999999

## Expressions

In [4]:
# % operator is for remainder
jj=23
kk=jj%5
print(kk)

3

In [5]:
# ** operator represents 'to the power of'
print(4**3)

64

## Types

In [6]:
# You can't concatenate different types 
eee= 'hello'+'there'
eee= eee +1
print(eee)

TypeError: can only concatenate str (not "int") to str

In [7]:
type(eee)

str

In [8]:
type('hello')

str

In [9]:
type(1)

int

## Type Conversions

In [10]:
# Converting integer to float
print(float(99)+100)

199.0

In [11]:
# Converting a string type to an integer (only a string that consists of digits)
sval='123'
type(sval)

str

In [12]:
ival=int(sval)
type(ival)

int

In [13]:
print(ival+1)

124

In [14]:
sval=123
type(sval)

int

## User Input

In [15]:
nam = input('who are you?')
print('welcome',nam)

who are you?Quareebulah
welcome Quareebulah

In [17]:
# Converting user input (input gives a string, not a number)
inp= input('Europe floor')
usf= int(inp)+1
print('us floor', usf)

Europe floor3
us floor 4